@import '../theme/theme';
// @import '../mixins/width.scss';
@import '../mixins/height.scss';

.main-container {
  max-width: 400px;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 520px;
  @include respond-below-height(lg) {
    height: 69vh;
    @include respond-below-height(md) {
      height: 67vh;
      @include respond-below-height(sm) {
        height: 65vh;
        @include respond-below-height(xs) {
          height: 63vh;
        }
      }
    }
  }

  .grid {
    height: 420px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .box {
      flex: 0 0 calc(21% - 10px);
      flex-grow: 0;
      height: 62px;
      max-width: 62px;
      min-width: 62px;
      margin: 3px 3px;
      // padding: 0 3px;
      border: 2px solid $box-border;
      text-align: center;
    }
  }
}