@import '../theme/theme';

.nav-container {
  height: 66px;
  position: sticky;
  background-color: $bg;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid $box-border;
  align-items: center;
  justify-content: center;

  .nav-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
    .nav-section {
      display: flex;
      flex-direction: row;
      padding: 0 16px;
      align-items: center;
      justify-content: center;
      
      .item {
        margin: 0 4px;
      }
      
      .item:hover {
        cursor: pointer;
      }
    }

    #title {
      position: absolute;
      right: 42%;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      align-self: center;
      padding: auto;
      margin: auto;
    }
  }
}
