@import '../theme/theme';
@import '../mixins/width.scss';

.keyboard-container {
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .keyboard-grid {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.2rem;
    margin: 0 0.2rem;

    .enter {
      font-size: 16px;
      border-radius: 4px;
      background-color: $keys;
      border: none;
      height: 58px;
      width: 65px;
      color: white;
      text-transform: uppercase;
      margin: 0 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .key {
      font-size: 16px;
      border-radius: 4px;
      background-color: $keys;
      border: none;
      height: 58px;
      width: 43px;
      color: white;
      text-transform: uppercase;
      margin: 0 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .wide-key {
      font-size: 16px;
      border-radius: 4px;
      background-color: $keys;
      border: none;
      height: 58px;
      width: 65px;
      color: white;
      text-transform: uppercase;
      margin: 0 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .enter {
      font-size: 16px;
      border-radius: 4px;
      background-color: $keys;
      border: none;
      height: 58px;
      width: 65px;
      color: white;
      text-transform: uppercase;
      margin: 0 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .key:hover {
      cursor: pointer;
    }
  }
}