@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #343a40;
  font-family: $primary-font;
  overflow-x: hidden;
}

a { font-family: $tertiary-font; }

* { box-sizing: border-box; }

h1, h2 {
  color: $bg-d;
  font-family: $secondary-font;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
