@import './theme/theme';

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: $bg;
  font-family: $primary-font;
  overflow-x: hidden;
  overflow-y: hidden;
}

a { font-family: $primary-font; }

* { box-sizing: border-box; }

h1, h2 {
  color: $bg-d;
  font-family: $primary-font;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
